{% extends 'base.html.twig' %}

{% block title %}Niveaux index{% endblock %}

{% block body %}
    <h1>Niveaux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau in niveauxes %}
            <tr>
                <td>{{ niveau.id }}</td>
                <td>{{ niveau.code }}</td>
                <td>{{ niveau.libelle }}</td>
                <td>
                    <a href="{{ path('niveaux_show', {'id': niveau.id}) }}">show</a>
                    <a href="{{ path('niveaux_edit', {'id': niveau.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('niveaux_new') }}">Create new</a>
{% endblock %}
